@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Poppins';
  @apply h-full;
  @apply text-foreground;
  @apply bg-base;
}

* {
  box-sizing: border-box;
}